<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xtjnoob.mapper.BookMapper">
    <resultMap id="resultMap" type="Book">
        <id column="id" property="id" javaType="Long"/>
        <result column="category_id" property="categoryId" javaType="Long"/>
        <result column="img_path" property="imgPath" javaType="String"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date"/>
        <association property="category" column="category_id" select="com.xtjnoob.mapper.CategoryMapper.getCategoryById"/>
    </resultMap>

    <insert id="addBooks" useGeneratedKeys="true">
        INSERT book(category_id, name, level, price, img_path, create_time) VALUES
        <foreach collection="books" item="book" separator=",">
            (#{book.categoryId}, #{book.name}, #{book.level}, #{book.price}, #{book.imgPath}, #{book.createTime})
        </foreach>
    </insert>
</mapper>